
.titulo{
    color:blue;
 text-align: center;
 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.querdescobrir{
    color:blue;
}



.todosite{
 background-color:lightblue;
}

